@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&family=Roboto:wght@100&display=swap');
 :root {
    --celeste: #5cd8f4;
    --rosado: #e63373;
    --amarillo:#fdd12a;
    --letra:#000;
    --degradado: linear-gradient(90deg, var(--celeste), var(--rosado));
}


/*carácteristicas génerales*/

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}

*::selection {
    background: var(--rosado);
    color: black;
}

html {
    font-size: 62.4%;
}

body {
    background: #f9f9f9;
}


/*inicio*/

section {
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: var(--degradado);
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    transition: all .3s linear;
}

.btn:hover {
    transform: scale(1.1);
}


/*general*/

.heading {
    text-align: center;
    background: var(--celeste);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 1rem;
}


/*Barra de navegación*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 .5rem rgba(0, 0, 0, .1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
    text-decoration: none;
    font-size: 2rem;
    color: var(--celeste);
}

header .logo span {
    color: var(--rosado);
}
header .logo img{
    width: 4.5rem;
}

header .navbar a {
    text-decoration: none;
    font-size: 1.8rem;
    margin-left: 2rem;
    color: var(--celeste);
}

header .navbar a:hover {
    color: var(--rosado);
}

header input {
    display: none;
}

header label {
    font-size: 3rem;
    color: var(--celeste);
    cursor: ponter;
    visibility: hidden;
    opacity: 0;
}


/*Inicio*/

.inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(img/inicio_fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.inicio .image img {
    width: 50vw;
    animation: float 3s linear infinite;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0rem);
    }
    50% {
        transform: translateY(-3.5rem);
    }
}

.inicio .content h3 {
    font-size: 5.5rem;
    color: #333;
    text-transform: uppercase;
}

.inicio .content h3 span {
    color: var(--rosado);
    text-transform: uppercase;
}

.inicio .content p {
    font-size: 1.7rem;
    color: #666;
    padding: 1rem 0;
}

/*acerca_de*/

.acerca_de {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(img/inicio_fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.acerca_de .columna {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.acerca_de .columna .image {
    flex: 1 1 40rem;
    align-content: center;
    justify-content: center;
}

.acerca_de .columna .image .img {
    width: 65%;
    animation: superman 3s linear infinite;
}
.acerca_de .columna .img {
    width: 35%;
    animation: float 3s linear infinite;
}
.acerca_de .columna .content {
 display: flex;
}


.acerca_de .columna .content h1 {

    font-size: 3rem;
    color: #333;
}

.acerca_de .columna .content p {
    font-size: 2.0rem;
    color: #333;
    padding: 1rem 0;
}
@keyframes superman {
    0%,
    100% {
        transform: translateX(8.5rem);
    }
    50% {
        transform: translateX(1.5rem);
    }
}


/*galeria*/

.galeria_tres_d{
    align-items: center;
    justify-content: center;
    background: url(img/inicio_fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.galeria_tres_d .heading{
    font-size: 2rem;
    color: #333;
    padding-top: 1rem;
}
.galeria_tres_d .grid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.galeria_tres_d .grid .card{
    flex: 1 1 20rem;
    background: white;
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, rgba(0, 0, 0, .1));
    margin: 1.5rem;
    padding: 3rem 2rem;
    text-align: center;
    transition: .2s linear;
}

.galeria_tres_d .grid .imagen img{
    max-width: 95%;
    object-fit: cover;

}

.galeria_tres_d .grid .descripcion p{
    font-size: 1.3rem;
    color: #666;
    padding: 1rem 0;
}

.galeria_tres_d .grid .descripcion .botones a{
    margin-left: 2rem;
}



.galeria_dos_d{
    align-items: center;
    justify-content: center;
    background: url(img/inicio_fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.galeria_dos_d .heading{
    font-size: 2rem;
    color: #333;
    padding-top: 1rem;
}
.galeria_dos_d .grid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.galeria_dos_d .grid .card{
    flex: 1 1 20rem;
    background: white;
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, rgba(0, 0, 0, .1));
    margin: 1.5rem;
    padding: 3rem 2rem;
    text-align: center;
    transition: .2s linear;
}

.galeria_dos_d .grid .imagen img{
    max-width: 95%;
    object-fit: cover;

}

.galeria_dos_d .grid .descripcion p{
    font-size: 1.3rem;
    color: #666;
    padding: 1rem 0;
}

.galeria_dos_d .grid .descripcion .botones a{
    margin-left: 2rem;
}

/*footer*/

.footer {
    padding-top: 3rem;
    background: url(img/fondo-pie-pagina.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.footer .caja-contenedor {
    display: flex;
    flex-wrap: wrap;
}

.footer .caja-contenedor .caja {
    flex: 1 1 25rem;
    margin: 2rem;
}

.footer .caja-contenedor .caja h3 {
    font-size: 2.5rem;
    padding: 1rem 0;
    color: wheat;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.footer .caja-contenedor .caja p {
    font-size: 1.5rem;
    padding: .5rem 0;
    color: whitesmoke;
}

.footer .caja-contenedor .caja a {
    display: block;
    font-size: 1.5rem;
    padding: .5rem 0;
    color: wheat;
}

.footer .caja-contenedor .caja .a:hover {
    text-decoration: underline;
}

.footer .caja-contenedor .caja .info {
    display: flex;
    align-items: center;
}

.footer .caja-contenedor .caja .info i {
    margin: .5rem 0;
    margin-right: 1rem;
    border-radius: 50%;
    background: whitesmoke;
    color: var(--verde);
    font-size: 1.8rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
}

.footer .creditos {
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color: wheat;
    border-top: .1rem solid wheat;
    padding: 2.5rem 1rem;
    text-align: center;
}


/*Barra de navegación*/

@media(max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media(max-width:990px) {
    selection {
        padding: 0 3%;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
    }
}

@media(max-width: 768px) {
    header label {
        visibility: visible;
        opacity: 1;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: white;
        padding: 1rem 2rem;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        transform-origin: scaleY(0);
        opacity: 0;
        transition: .2s linear;
    }
    header .navbar a {
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }
    header input:checked~.navbar {
        transform: scaleY(1);
        opacity: 1;
    }
    header input:checked~.label::before {
        content: '\f00d';
    }
    .inicio {
        flex-flow: column-reverse;
    }
    .inicio .image img {
        width: 100%;
    }
    .inicio .content h3 {
        font-size: 3.6rem;
    }
    .inici .content p {
        font-size: 49%;
    }
    .acerca_de {
        background-position: right;
    }
}

@media(max-width:450px) {
    html {
        font-size: 49%;
    }
    .acerca_de .columna .content .bottons a {
        width: 100%;
        text-align: center;
    }
    .acerca_de .columna .content .bottons a:last-child {
        margin: 1rem 0;
    }
}